.popup__close {
  position: absolute;
  top: -35px;
  right: -35px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 540px) {
  .popup__close {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0;
  }
}
