.profile__addButton {
  align-self: center;
  width: 146px;
  height: 46px;
  background-color: black;
  border: 2px solid white;
  background-image: url(../../../images/add.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__addButton:hover {
  opacity: 0.6;
}

@media (max-width: 645px) {
  .profile__addButton {
    margin-top: 36px;
  }
}

@media (max-width: 445px) {
  .profile__addButton {
    width: 100%;
  }
}
